* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /* font-size: 0; */
}

.box {
  width: 300px;
  margin: 50px 30px;
  display: inline-block;
  background-color: #eee;
}

.box-step {
  color: white;
  position: absolute;
}

.box-step-highlight {
  background-color: #ff9a4b;
}

.box-pic {
  height: 150px;
  background-image: url(./chapter9_exercise/img/flow01.png);
  background-size: cover;
}

.pic2 {
  background-image: url(./chapter9_exercise/img/flow02.png);
}

.pic3 {
  background-image: url(./chapter9_exercise/img/flow03.png);
}

.box-content {
  margin: 10px;
}

.box-content-heading {
  margin-bottom: 5px;
  margin-top: 15px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
    height: 50px;
  }

  main {
    width: 100%;
    flex-wrap: wrap;
    margin: 50px auto;
  }

  .box {
    width: 90%;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .box-pic {
    background-position: left bottom;
  }

  footer {
    height: 50px;
  }
}
